body {
    font-family: 'Roboto', sans-serif;
    color: #262626;
    background-color: #FAFAFA;
}

/*Header*/
header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 54px;

    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;

    background-color: #FFFFFF;
    border-bottom: 1px solid #BDBDBD
}

.mobile-header { /* Esconde o header mobile enquanto permite que o header desktop esteja ativo.*/
    display: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 925px;
    margin: 0px 20px;
}

.header-content input {
    height: 20px;
    
    text-align: center;
    
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

ion-icon {
    width: 22px;
    height: 22px;
}

.instagram-logo, .header-actions{
    display: flex;
    align-items: flex-start; /* Imagem do instagram possui um espaço na parte inferior, fazendo com que align-itens: center funcione mal, então para alinhar melhor, é melhor usar flex-start.*/
    gap: 16px
}

header img {
    width: 90px;
}

.bottom-navbar {
    display: none;
}

/*Page content*/

.content-container {
    display: flex;
    justify-content: center;

    width: 100%;
    margin-top: 54px
}

.content {
    display: flex;
    
    width: 935px;
    margin-top: 88px;
}

/* Page content FEED*/
.feed {
    display: flex;
    flex-direction: column;
    
    width: 614px
}

.stories-box {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    
    position:relative;

    width: 100%;
    height: 118px;

    background-color: #FFFFFF;

    border: 1px solid #DBDBDB;
    border-radius: 3px;
    box-shadow: -1px 7px 8px -3px rgba(0,0,0,0.34);
}

.storie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 70px;

    margin: 12px 8px
}

.profilePicture {
    width: 66px;
    height: 66px;
    background-image: url("../src/stories_background.jpg");
    background-size: cover;
    border-radius: 100%;
}

.storie img:nth-child(1){
    position: relative;
    top: 5px;
    left: 5px;

    width: 56px;
    height: 56px;
    border-radius: 100%;
}

.storie p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    text-align: center;
}

.right-button {
    position: absolute;
    right: 5px;
    top: 45px;
}

/* SIDEBAR */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;

    width: 293px;
    height: max-content;
    padding-left: 30px;
    padding-top: 20px;

    position: sticky;
    top: 45px
}

.profile {
    display: flex;
    align-items: center;

    width: 100%;
    margin-bottom: 22px;
}

.profile img {
    width: 56px;
    height: 56px;
    margin-right: 12px;

    border-radius: 100%; 
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-nickname {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.profile-username {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #8E8E8E;
}

.profile-additional {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}

/* Suggestions */
.suggestions {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.suggestions-title {
    display: flex;
    justify-content: space-between;
} 

.suggestions-title p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;
}

.suggestions-title button{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #262626;

    border: none;
    background: none;
}

.suggested-profile, .suggested-profile div {
    display: flex;
}

.suggested-profile {
    justify-content: space-between;
}

.profilePhoto {
    width: 32px;
    height: 32px;
    margin-right: 12px;

    border-radius: 100%;
}

.suggested-profile button {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #139EF2;

    border: none;
    background: none;
}  

/*sidebar extra info*/

.sidebar-extrainfo p {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin-top: 20px;
    color: #C7C7C7;
}

/* POST */
.posts-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 24px;
    gap: 64px;
}

.post {
    width: 100%;

    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 14px;
}

.post-profileinfo {
    display: flex;
    align-items: center;
    width: max-content;
}

.post > img, .post > video {
    width: 100%;
}

.post-primary-actions {
    display: flex;
    gap: 12px;
}

.bottom-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 12px;
    padding-top: 6px;
    gap: 10px;
}

.bottom-bar-top {
    display: flex;
    justify-content: space-between;

    width: 100%;
}

.bottom-bar-likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: max-content;
    
    gap: 12px;
}

.bottom-bar-likes img{
    width: 20px;
    height: 20px;

    border-radius: 100%;
}

.bottom-bar p, .bottom-bar b {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.bottom-bar b {
    font-weight: 500;
}

/*Commentary*/
.bottom-bar-comments {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 10px;
}
.commentInput {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.commentInput input{
    width: 100%;
    border: none;
}

.commentInput button {
    color: #B2DFFC;

    background-color: transparent;
    border: none;
    transition: color 300ms;
}

.commentInput button:hover {
    color: #0095F6;

    background-color: transparent;
    border: none;
}

.commentary {
    display: flex;
    width: 100%;

    justify-content: space-between;
    align-content: center;
}

.commentary-content {
    display: flex;
    align-content: flex-end;
    gap: 5px;
}

.commentary ion-icon {
    width: 15px;
    height: 15px;
}


/*Layout sem sidebar*/
@media(max-width: 935px) {
    .sidebar {
        display: none;
    }
    
    .content {
        justify-content: center;
    }
}

/* ainda falta terminar esse mobile aqui*/
@media(max-width: 614px) {
    .content {
        width: 100%;
        margin: 0px;
    }

    .feed {
        width: 100%;
    }

    .stories-box {
        margin: 15px 0px;
        background-color: transparent;
        border: none;
        width: 100%;
    }

    .posts-box, .post {
        box-sizing: border-box;
        margin: 0px;
        width: 100%;
    }

    .bottom-navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;

        position: fixed;
        bottom: 0px;
        left: 0px;
        z-index: 1;

        width: 100%;
        height: 54px;
        background-color: #FFFFFF;
        
    }

    .right-button{
        display: none;
    }

    header { /* Esconde ambos os headers e ativa o mobile na próxima regra*/
        display: none;
    }

    .mobile-header {
        display: flex;
        justify-content: space-between;
    }

    .mobile-header ion-icon {
        padding: 0px 20px ;
    }
}